:root {
  --grey: #eaeaea;
}
.search-div {
  background-color: var(--grey);
  padding: 20px;
}
form button {
  background-color: grey;
  color: white;
}
form input,
form button {
  font-size: 1.2rem;
}
.weather-now-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.current-weather-and-maps {
  display: flex;
  flex-direction: row;
}

.current-weather-description {
  width: 30%;
}
.weather-maps {
  width: 70%;
  background-color: #0074d9;
  height: 20px;
}

.current-date {
  color: orange;
}

.weather-now-container img {
  height: 70px;
  width: 70px;
}
.city {
  font-size: 1.5rem;
}
.weather-alert {
  width: fit-content;
  background-color: red;
  padding: 10px;
  color: white;
  display: inline-block;
  border-radius: 7px;
  text-align: justify;
}

.weather-feels {
  font-weight: bold;
}
.detailed-info {
  font-weight: lighter;
}
.forecast-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.hourly-forecast {
  width: 60%;
  height: 20px;
}
.weather-forecast {
  width: 40%;
  font-size: 0.8rem;
}
.weather-forecast .title,
.hourly-forecast .title {
  font-weight: bold;
  font-size: 1.2rem;
}
.forecast-day div:nth-of-type(2) {
  text-align: center;
}
.weather-forecast img {
  height: 40px;
  width: 40px;
}
.forecast-day {
  display: flex;
  justify-content: space-between;
}
.forecast-day div {
  display: flex;
  align-items: center;
}

.forecast-day .forecast-day-date {
  width: 40%;
}

.forecast-day div:last-child {
  font-weight: lighter;
  width: 25%;
  justify-content: flex-end;
}
