:root {
  --grey: #eaeaea;
}

.search-div {
  background-color: var(--grey);
  padding: 20px;
}
form button {
  background-color: grey;
  color: white;
}
form input,
form button {
  font-size: 1.2rem;
}
.weather-now-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.air-pollution {
  width: 60%;
}

.current-weather-pollution {
  display: flex;
  flex-direction: row;
}

.current-weather-pollution div {
  margin: 10px;
}

.current-weather-description {
  width: 60%;
}
.weather-maps {
  width: 70%;
  background-color: #0074d9;
  height: 20px;
}

.current-date {
  color: orange;
}

.weather-now-container img {
  height: 70px;
  width: 70px;
}
.city {
  font-size: 1.5rem;
}
.weather-alert {
  width: fit-content;
  border: solid red 2px;
  padding: 10px;
  color: black;
  display: inline-block;
  border-radius: 7px;
  text-align: justify;
}

.weather-feels {
  font-weight: bold;
}

.detailed-info {
  font-weight: lighter;
}

.type,
.amount,
.category {
  display: inline-block;
  width: 25%;
}

.type {
  font-weight: bold;
}

table * {
  text-align: center;
}

.quality-info[data-quality="very-good"] {
  background-color: darkgreen;
}

.quality-info[data-quality="very-good"]::after {
  content: "very-good";
  color: white;
}

.quality-info[data-quality="good"] {
  background-color: green;
}

.quality-info[data-quality="good"]::after {
  content: "good";
  color: white;
}

.quality-info[data-quality="moderate"] {
  background-color: orange;
}

.quality-info[data-quality="moderate"]::after {
  content: "moderate";
  color: white;
}

.quality-info[data-quality="sufficient"] {
  background-color: yellow;
}

.quality-info[data-quality="sufficient"]::after {
  content: "sufficient";
  color: white;
}

.quality-info[data-quality="bad"] {
  background-color: red;
}

.quality-info[data-quality="bad"]::after {
  content: "bad";
  color: white;
}

.quality-info[data-quality="very-bad"] {
  background-color: darkred;
}

.quality-info[data-quality="very-bad"]::after {
  content: "very bad";
  color: white;
}

table tr:hover td {
  transform: scale(1.1);
}
.forecast-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.hourly-forecast {
  width: 60%;
  height: 100%;
}

.weather-forecast {
  width: 40%;
  font-size: 0.8rem;
}

.weather-forecast .title,
.air-pollution .title,
.hourly-forecast .title {
  font-weight: bold;
  font-size: 1.2rem;
}

.forecast-day div:nth-of-type(2) {
  text-align: center;
}

.weather-forecast img {
  height: 40px;
  width: 40px;
}

.forecast-day {
  display: flex;
  justify-content: space-between;
}

.forecast-day div {
  display: flex;
  align-items: center;
}

.forecast-day .forecast-day-date {
  width: 40%;
}

.forecast-day div:last-child {
  font-weight: lighter;
  width: 25%;
  justify-content: flex-end;
}
