.news__container,
.news__content1,
.news__content2,
.singleNews__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__container {
  position: relative;
  left: 5%;
  width: 90vw;
  margin: 1.5vw 0;
}

.news__content1,
.news__content2 {
  transition: opacity 0.5s;
}

.news__content1 > a,
.news__content2 > a {
  text-decoration: none;
}

.news__content2 {
  position: absolute;
  top: 0;
  margin-top: 0;
}

.singleNews__container {
  color: white;
  height: 80vh;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
}

a > .singleNews__container:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

a:nth-child(1) > .singleNews__container {
  background-image: url("/static/images/world.png");
}

a:nth-child(2) > .singleNews__container {
  background-image: url("/static/images/poland.png");
}

a:nth-child(3) > .singleNews__container {
  background-image: url("/static/images/health.png");
}

.singleNews__container > div {
  width: 85%;
  height: 80%;
}

.singleNews__container > * {
  text-shadow: 0px 0px 5px rgba(100, 100, 100, 1);
}

.singleNews__container > div > h5 {
  font-size: 1.5rem;
  color: lightblue;
}

.singleNews__container > div > h6 {
  font-size: 0.8rem;
}

.singleNews__container > div > p {
  font-size: 1.2rem;
  text-align: justify;
}

.singleNews__container > div > * {
  padding: 1vw 0;
}

@media (max-width: 1024px) {
  .news__content1,
  .news__content2 {
    flex-wrap: wrap;
    row-gap: 2vw;
  }

  .news__content1 > a,
  .news__content2 > a {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .singleNews__container > div > h5 {
    font-size: 1.3rem;
  }

  .singleNews__container > div > h6 {
    font-size: 0.6rem;
  }

  .singleNews__container > div > p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .news__content1,
  .news__content2 {
    flex-wrap: wrap;
    row-gap: 4vw;
  }

  .news__content1 > a,
  .news__content2 > a {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .singleNews__container > div > h5 {
    font-size: 1.2rem;
  }

  .singleNews__container > div > h6 {
    font-size: 0.5rem;
  }

  .singleNews__container > div > p {
    font-size: 0.9rem;
  }
}
