* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backColor: rgb(239, 239, 237);
}

body {
  background-color: var(--backColor);
}

.container {
  margin: 0 auto;
}

.title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  text-align: center;
}

.images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  align-items: flex-start;
  background-color: var(--backColor);
}

.imageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
}

.imageDiv img {
  width: 100%;
  max-height: 300px;
}

.searchDiv {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  padding: 10px 0;
}

.caloriesDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.instructionList {
  width: 60%;
}

.inputs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  font-size: 20px;
  background-color: white;
  border-radius: 12px;
}

.slider input {
  width: 100%;
}

.wineDiv {
  display: flex;
  justify-content: space-evenly;
}

.wineDiv p {
  width: 40%;
}

div.wineDiv img {
  height: 500px;
}

.button {
  display: flex;
  align-items: center;
  color: #9b9ca7;
  justify-content: center;
  border: none;
  width: 70px;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;
}

#value {
  display: block;
  margin: 5px auto;
  width: 30px;
  height: 20px;
}

.wineChoose input {
  margin-top: 5px;
  appearance: checkbox;
  border: initial;
}

.wineChoose input:nth-of-type(2) {
  margin-left: 15px;
}

#searchInput {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
