* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0%;
  width: 100vw;
  background-color: white;
}

.title {
  width: 100%;
  text-align: center;
}

.images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.imageDiv {
  width: 30%;
  text-align: center;
}

.imageDiv img {
  width: 100%;
}

.searchDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.caloriesDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
}
.caloriesDiv p {
  width: 60%;
}
