* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  background-color: white;
}

.title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  text-align: center;
}

.images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.imageDiv {
  width: 30%;
  text-align: center;
}

.imageDiv img {
  width: 100%;
  max-height: 300px;
}

.searchDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.caloriesDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
}
.instructionList {
  width: 60%;
}

.inputs {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.slider input {
  width: 100%;
}

.wineDiv {
  display: flex;
  justify-content: space-evenly;
}

.wineDiv p {
  width: 40%;
}

div.wineDiv img {
  height: 500px;
}
