body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #cccccc;
}

.page-header nav {
  display: flex;

  justify-content: center;
  padding: 15px 0;
}

.page-header nav a {
  display: block;
  padding: 10px 20px;
  text-align: center;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.slide-image {
  max-width: 100%;
}

.image-title {
  color: silver;
  position: relative;
  text-align: center;
}

.image-title a {
  text-decoration: none;
}
