@import "calendar-widget/dist/index.css";

:root {
  --delay: 0s;
}

* {
  outline: none;
  box-sizing: border-box;
  --yellow: #fdd92a;
  --navy-blue: #333439;
  --dark-gray: #393834;
  --background-gray: #efefed;
}

.hidden {
  display: none !important;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-gray);
  color: var(--dark-gray);
  max-width: 1600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  max-width: 1600px;
  background-color: var(--background-gray);
  display: flex;
  margin: 0 auto;
  background-image: url(./images/background.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@-webkit-keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  padding-left: 0;
  padding-top: 0;
}

.header {
  background: var(--yellow);
  width: 100%;
  padding: 0 30px;
  -webkit-animation: top 1s both;
  animation: top 1s both;
  display: flex;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  left: 0;
  z-index: 10;
  border-radius: 0 0 12px 0;
}
.header:before {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
}
.header-link {
  color: var(--dark-gray);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  opacity: 0.4;
}
.header-link svg {
  width: 20px;
  margin-right: 14px;
}

.header-link .fa {
  width: 20px;
  margin-right: 14px;
}

.header-link.active,
.header-link:hover {
  border-bottom: 3px solid var(--navy-blue);
  opacity: 1;
}

.logo {
  padding: 20px 50px 20px 0;
  font-size: 16px;
  color: var(--dark-grey);
}
.logo-det {
  background: lightgray;
  padding: 8px;
  margin-left: -2px;
  border-radius: 50%;
  font-size: 15px;
}

.button {
  display: flex;
  align-items: center;
  color: #9b9ca7;
  border: none;
  padding: 2px 12px;
  border-radius: 4px;
  margin-right: 20px;
}
.button svg {
  margin-left: 10px;
  width: 16px;
}

.button .fa {
  margin-left: 10px;
  width: 16px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.homepage {
  text-decoration: none;
  color: var(--dark-gray);
}

.page-slider .container {
  margin: auto;
}

.page-slider .glide__slide {
  position: relative;
  text-align: center;
}

.page-slider .slide-image {
  width: 90%;
  padding: 5%;
  height: auto;
  vertical-align: middle;
  transition: 150ms;
}
.page-slider .glide__slide--active .slide-image {
  position: relative;
  width: 100%;
  padding: 0;
  margin: auto;
}

.page-slider .glide__slide .image-title {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
  font-weight: normal;
  text-shadow: 2px 2px black;
}

.page-slider .glide__slide .image-title a {
  text-decoration: none;
  color: rgb(210, 210, 210);
}

.page-slider .glide__slide--active .image-title {
  font-size: x-large;
  font-weight: bold;
}

.page-slider .glide__arrow {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.2);
  font-size: normal;
  transition: background-color 150ms, font-size 150ms;
}
.page-slider .glide__arrow:hover {
  font-size: 1.2em;
  border-color: white;
  background-color: rgba(255, 255, 255);
}
.page-slider .glide__arrow--left {
  left: -5%;
}
.page-slider .glide__arrow--right {
  right: -5%;
}

/* Style the top bar */

.nav-bar {
  background-color: rgb(138, 138, 138);
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  width: 16.666666666666666%;
  min-width: 100px;
  box-sizing: border-box;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 100%;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  background-color: rgb(196, 196, 196);
  color: rgb(0, 0, 0);
}

/*Style the footer*/

.page-footer {
  background-color: var(--yellow);
  overflow: hidden;
  margin: auto;
  width: 100%;
}

.page-footer p {
  color: var(--dark-gray);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 100%;
  transition: 200ms;
}

.page-footer p:hover {
  color: black;
}

.page-footer p:hover {
  color: black
}